.container-categorias{
  min-height: fit-content;
}

.container-categorias .list-group-item{
  min-width: 150px;
  height: fit-content;
  font-size: 14px;
}

.container-categorias .list-group-item:hover{
  color: #005FB8;
}

.card{
  border: none;
}
.card:hover{
  border: 1.5px solid;
  border-color: #F7F0F5;
  box-shadow: 3px 3px 5px #f1f1f1, 4px 4px 6px #f1f1f1;
  cursor: pointer;
}
.card:hover a{
  color: #F93943;
}
.card-img-top{
  object-fit: cover;
}
.card-body span{
  width: 170px;
  -webkit-line-clamp: 2;
  overflow : hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.card-body a{
  color: #005FB8;
  font-size: larger;
}